* {
    margin: 2px;
    padding: 3px;
    font-family: Lucida, sans-serif;
}

td {
    padding: 2px;
}

#regform {
    background-color: #cecea2;
}

#showdata {
    background-color: #e6ffff;
    padding: 10px;
    margin: 10px;
}
